.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides img{
    width: 500px;
    height: 600px;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 10px;
    font-size: 2rem;
    background-color: #212020ba;
    color: white;
    border: none;
    cursor: pointer;
}
.pre{
    left: 0;
}
.next{
    right: 65%;
}
@keyframes fade {
    from{opacity: .5;}
    to{opacity: 1;}
}