#container{
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

#label{
    color: #cd2323;
}

#submit{
    padding: 10px 20px;
    color: white;
    background-color: rgb(72, 184, 184);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.submit:hover{
    background-color: rgb(9, 67, 67);
}